/* TABLET */

@media screen and (min-width:768px){

  .demo-services .row{
    justify-content: space-between;
    flex-direction: row;
  }

  .demo-services .top.row .box:first-child{
    width:65%;
    flex-direction: column;
  }

  .demo-services .top.row .box:first-child img{
    width:65%;
  }

  .demo-services .top.row .box:last-child{
    width:31%;
  }

  .demo-services .bottom.row .box{
    width:31%;
  }

  /* strategic planning - purple */

  .strategic{
    flex-direction: column;
  }

  /* testimonials */

  .testimonials .box{
    flex-direction: row;
    justify-content: flex-start
  }

  .testimonials .box .testimonial-image{
    width:30%;
    margin:0 30px 0 0;
  }

  .testimonials .box .testimonial-text{
    width:60%;
    text-align: left;
    justify-content: center;
  }

  /* benefits */
  section.benefits .advantages.d-flex{
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  section.benefits .box{
    width:48%;
  }

  /* about-us */

  section.about-us{
    flex-direction: row;
  }

  .about-us .col:first-child{
    width:60%;
    margin-right: 20px;
  }

  .about-us .col:last-child{
    width:40%;
    padding:10px 0px 0px 20px;
  }
  
}

/* DESKTOP */

@media screen and (min-width:1025px){
  body section{
    padding: 8% 15%;
  }

  body header{
    padding: 2% 15%;
  }

  body header img.logo{
    width:76px;
  }

  /* header */
  body header{
    align-items: center;
  }

  header .hamburger-menu{
    display: none;
  }
  
  header nav.d-flex {
    display: block;
  }

  /* strategic planning */

  section.strategic.purple-stripe.d-flex{
    flex-direction: row;
    justify-content: space-between;
  }

  section.strategic.purple-stripe.d-flex .col:first-child{
    margin-right:10%;
    width:55%;
  }

  section.strategic.purple-stripe.d-flex .col:last-child{
    margin:0;
    width:45%;}
  
    /* benefits */

    body section.benefits .advantages .box{
      width:32%;
    }
}