/* GENERAL */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: white;
}

section{
  padding:40px 30px;
}

ul{
  list-style: none;
}

li:not(li:last-of-type){
  margin-right: 15px;
}

a:not(footer a){
  text-decoration: none;
}

a:hover:not(.btn a){
  text-decoration: underline;
}

.btn:hover{
  opacity: 0.6;
}

img{
  max-width: 100%;
}

/* UTILITIES */

.d-flex{
  display: flex;
}

.btn{
  border-radius:35px;
  padding:10px 30px;
  display: inline-block;
  margin:1rem 0;
  text-align: center;
  width:fit-content;

}

.box{
  border-radius:25px;
  width:100%;
  text-align: center;
  padding:25px;
  color:rgb(96,109,126);
  line-height: 30px;
  margin-bottom:2rem;
}

.box h3{
  color:rgb(74,131,249	);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.lightblue{
  background-color: rgb(192,220,254);
}

.blue{
  background-color: rgb(74,131,249);
}

.btn.blue a, .btn.b.purple a{
  color:white;
}

.purple{
  background-color: rgb(148,144,224);
  color:white;
}


.white{
  background-color:white;
  color:black;
}

.btn.white a{
  color:black;
}



/* HEADER */

header{
  height:75px;
  width: 100%;
  background-color: rgb(74,131,249);
  justify-content: space-between;
  padding:20px;
}

header img.logo{
  width: 76px;
  height: auto;
}

header .hamburger-menu{
  display:inline-block;
  color: white;
  font-size: 2rem;
}

header nav.d-flex{
  font-size: 0.8;
  display: none;
  align-items: center;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  color:white;
}

/* MAIN */

.demo-services{
  background-color: white;
  padding-top: 50px;
  padding-bottom:70px;
}

.top.row, .bottom.row{
  flex-direction: column;
  width:100%;
}

#first-box{
  padding-bottom:0;
  text-align: left;
  flex-direction: column;
}

.icons i{
  color: rgb(74,131,249);
  font-size:6rem;
}

/* STRATEGIC PLANNING - PURPLE */

.purple-stripe{
  background-color: rgb(148,144,224);
  width:100%;
  color:white;
  justify-content: flex-end;
  flex-direction: column;
}

.strategic .col img{
  margin-bottom:15px;
}

.purple-stripe div.text-block{
  text-align: left;
  line-height: 30px;
  margin-bottom:15px;
}

.strategic .col .white.box h4{
  color: rgb(148,144,224);
  font-size:1.5rem;
  margin-bottom: 15px;
}

.purple-stripe .arrow{
  color:black;
  width:3rem;
  height:3rem;
  font-size:1.5rem;
  font-weight: 300;
  border-radius: 50%;
  display: inline-block;
  margin-top:20px;
}


.purple.arrow a{
  color:black;
  position:relative;
  top:25%;
}

/* testimonials */

.testimonials{
  text-align: center;
  line-height: 30px;
}

.testimonials >p{
  margin-bottom: 15px;
}

.testimonials .box{
  flex-direction: column;
}

.testimonials h2, .about-us h2{
  color: rgb(148,144,224);
  font-weight: bold;
  font-size:2rem;
  margin-bottom: 15px;
}

.testimonials .box i{
  font-size:1.5rem;
}

.testimonial-image{
  margin:0 auto;
  margin-bottom:30px;
}

.testimonial-image>div{
  width:200px;
  height:200px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  padding-top:80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.testimonials .box:nth-of-type(1) .testimonial-image> div{
  background-image: url('../img/testimonial1.jpg');
}

.testimonials .box:nth-of-type(2) .testimonial-image> div{
  background-image: url('../img/testimonial2.jpg');
}

.testimonials .box:nth-of-type(3) .testimonial-image> div{
  background-image: url('../img/testimonial3.jpg');
}

.testimonial-text{
  flex-direction: column;
}

.testimonials .testimonial-name{
  text-transform: uppercase;
}

/* BENEFITS */

.benefits{
  text-align: center;
}
.benefits h2{
  font-size:2rem;
  margin-bottom: 30px;
}

.benefits .benefit-number , .benefits h3{
  color: rgb(148,144,224);
}

.benefits .benefit-number{
  font-size:3rem;
}

.advantages{
  flex-direction: column;
}

.advantages .box{
  text-align: left;
}



/* ABOUT US */

section.about-us{
  text-align: left;
  flex-direction: column;
}

section.about-us h2{
  margin-bottom:30px;
  font-weight: bold;
}

section.about-us p{
  line-height: 30px;
}

section.about-us .col:first-child{
  margin-bottom:30px;
}


section.about-us .testimonial-image div{
  display: inline-block;
  background-image: url('../img/about.jpg');
  position: relative;
}


.testimonial-image i.fa-quote-left{
  color:rgb(148,144,224);
  font-size:4rem;
  position: absolute;
  top:0;
  right:10px;
}

/* GET-STARTED */

section.get-started{
  text-align: center;
}

section.get-started h4{
  color:rgb(201,200,239);
}

section.get-started h3{
  color:white;
  font-size:1.8rem;
  margin:1rem;
}

section.get-started h2{
  color:rgb(238,191,101);
  font-size:4rem;
  margin:1.5rem;
}

section.get-started p{
  line-height: 30px;
}

section.get-started .white.btn{
  padding:25px 50px;

}





/* FOOTER */

footer{
  background-color: black;
  padding:10px 20px;
  color:white;
  text-align: center;
}


